html {
    height: 100%;
    box-sizing: border-box;
  }
  
  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
  
body{
    position: relative;
    margin: 0;
    background-color: rgb(253, 253, 253);
  
    background-repeat: none;
    min-height: 100%;
}
.jumbotron{
    background-color: #5CB7E1;
    color:   rgb(253, 253, 253);
}
.card-img-bottom{
    width: auto; 
}

.card-title{
    text-align: center;
    color: rgb(100, 100, 100); 
    
}

.panel-default > .panel-heading-custom {
    background: #5CB7E1;  
    color: #fff;
}

.footer {
     position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    background-color:#5CB7E1;
    text-align: center;
    margin-top: 5%;
      }
      .zenImage{
    
        height: 322px;
        width: 70%; 
        padding: 0px; 
        align-content: center;
        
    }
    #names{
        font-size: 15px; 
        color: rgb(253, 253, 253);
        padding: 5px;
    }